body {
  background-color: #999903;
}

h1 {
  color: #fff;
  text-align: center;
}

#languages {
  background-color: #fff;
  width: 600px;
  margin: 0 auto;
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box;;
}

.button {
  background-color: #999903;
  width: 90px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
}

[data-len='long'] {
  display: none;
}